<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Cadastre-se</title>
    <!-- CSS  -->
    {% include 'incs.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h3 class="header center red-text"> Adicionar</h3>
        <div class="row">
          {% if j == 1%}
            
            <div class="col s4 offset-s3">{{i}}</br>
            <i class="material-icons"><h6 class="green-text">add_circle</i></h6></div>
          {% else %}
            <div class="col s4 offset-s3"><h6 class="red">{{i}}</h6></div>
          {% endif %}
        </div>
        
      </div>
      <!----Footer------>
      {% include 'footer.html' %}
      <!--  Scripts-->
      {% include 'scripts.html' %}
    </body>
  </html>