<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">Bem vindo!!!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Foma fácil, prática e segura de controlar o acesso a ambientes</h5>
      </div>
      <div class="row center">
        <a href="cadastro/" id="download-button" class="btn-large waves-effect waves-light red">Cadastre-se aqui!</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Rápido</h5>

            <p class="light">Projeto desenvolvido para apresentar maior velocidade, de forma a saber, agilmente, o que está ocorrendo em seu ponto de controle.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Acessível</h5>

            <p class="light">Acessibilidade ao ponto de controle garantida, por meio de qualquer dispositivo que disponha acesso à internet.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">lock</i></h2>
            <h5 class="center">Seguro</h5>

            <p class="light">Todas informações são criptografadas, de modo que apenas o usuário de interesse as tenha acesso.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>
