<div class="section no-pad-bot" id="index-banner">
    <div class="container">


      <br><br>
      <h1 class="header center red-text">Bem vindo!!!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Foma fácil, prática e segura de controlar o acesso a ambientes</h5>
      </div>
      <div class="row center">
        <a href="/login/" id="download-button" class="btn-large waves-effect waves-pink lighten-2 indigo darken-4">SmartLock</a>
      </div>
	        <div class="row center">
        <a href="/login/" id="download-button" class="btn-large waves-effect waves-pink lighten-2 grey darken-2">ALPR</a>
      </div>
      <br><br>

    </div>
  </div>


  